<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blog</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <h1>My Blog </h1>
        <p>this is my developer blog</p>

    </header>
    <main>
        <section>
            <% console.log(`blogs ${blogs}`) %>
            <% blogs.forEach(function(blog) { %>
            <article>
                test
                <h2><%= blog.title %></h2>
                <p><%= blog.post %></p>
                <small><%= blog.published.toLocaleString() %></small>
            </article>
            <% }) %>
        </section>
    </main>
</body>

</html>